
    input {

        padding: 8px;
        border: 1px solid #ccc;
        display: block;
        margin: 0 auto;
        border-bottom: 1px solid #ccc;
        width: 25%

    }

    .btn {
        border-radius: 5px;
        background-color: #f44336;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        display: block;
        margin: 0 auto;
    }

    .text {

        text-align: center;
        color: dodgerblue;
    }
